<form action="">
  <mat-card>
    <mat-card-header>
      <mat-card-title>登录：</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field color='accent' class="full-width">
        <!-- 前缀 -->
        <span matProfix></span>
        <input matInput type="text" placeholder="您的email">
        <!-- 后缀 -->
        <span matSuffix>@gmail.com</span>
      </mat-form-field>
      <mat-form-field color='accent' class="full-width">
        <!-- 前缀 -->
        <span matProfix></span>
        <input matInput type="text" placeholder="您的密码">
        <!-- 后缀 -->
        <!-- <span matSuffix>@gmail.com</span> -->
      </mat-form-field>
      <!--  type为submit时，默认提交form表单 -->
      <!-- matbutton、mat-raised-button、mat-fab mat-mini-button-->
      <button mat-raised-button type="button">登录</button>

    </mat-card-content>
    <mat-card-actions class="text-right">
      <p>还没有账户<a href="">注册</a></p>
      <p>忘记密码<a href="">找回</a></p>
    </mat-card-actions>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>每日佳句</mat-card-title>
      <mat-card-subtitle>Neusoft</mat-card-subtitle>
    </mat-card-header>
    <img src="/assets/img/quote_fallback.jpg" alt="" mat-card-image>
    <mat-card-content>
      Neusoft
    </mat-card-content>
  </mat-card>
</form>
