// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'theme.scss';

html,
body,
app-root,
mat-sidenav-container,
.site {
  margin: 0;
  width: 100%;
  height: 100%;
}

.site {
  display: flex;
  flex-direction: column;
}

main{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.full-width{
  width:100%;
}
