@import '~@angular/material/theming';

@include mat-core();

// 规定主色
$my-app-primary: mat-palette($mat-indigo);
// 规定次色以及深浅:默认深浅、亮主题、暗主题
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
// 警告色
$my-app-warn: mat-palette($mat-red);

// 将三个颜色放入白天的主题
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);

// 规定主色
$my-dark-primary: mat-palette($mat-blue-grey);
// 规定次色以及深浅:默认深浅、亮主题、暗主题
$my-dark-accent: mat-palette($mat-amber, A200, A100, A400);
// 警告色
$my-dark-warn: mat-palette($mat-deep-orange);

// 将三个颜色放入黑夜的主题，此时放入一个css类中调用，否则会直接应用后注册的主题。引起冲突
$my-dark-theme: mat-dark-theme($my-dark-primary, $my-dark-accent, $my-dark-warn);
.myapp-dark-theme{
  @include angular-material-theme($my-dark-theme);
};

